

@font-face {
  font-family: "Telegram HPLHS";
  src: url('fonts/TelegHPLHS.otf') format("opentype");
}

body {
  background-color: #ffde59; 
}
.select {
   font-size: 1em;
   font-family: Arial;
}


.head {
  text-align: center;
  background-position: center;
  width: 100% !important;
  height: auto !important;
}

.head img {
  text-align: center;
  background-position: center;
  width: 100% ;
  height: auto ;
}

textarea {
   width: 100%;
   box-sizing: border-box;
   font-family: "Telegram HPLHS"
}

header  {
   width: 100%;        /* Ensures the text spans the full width if needed */
   text-align: center; /* Centers text horizontally */
   font-family: Arial, sans-serif;
   font-size:20px;
} 

h1 {
   display: block;
   Font-size: 2em;
   Fond-weight bold;
}

title {
   display: block;
   Font-size: 2em;
   Fond-weight bold;
}

input[type=text], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding doesn't affect total width */
}

button[type=submit] {
  width: 100%;
  background-color: #0CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Telegram HPLHS";
}


button[type=submit]:hover {
  background-color: #45a000;
}

.container {
    /* Set the container to position: relative to act as a positioning context for the form */
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    font-family: "Telegram HPLHS";
}
 
.bottom-panel {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background-color: #333;
            color: white;
            text-align: center;
            line-height: 50px;
            z-index: 1000;
        }
